.card-ed.card {
  box-shadow: none !important;
}

.nprimary {
  background-color: #0944AA !important;
}
.nprimarytext {
  color: #0944AA !important;
}

.btn13 {
	padding: .5rem 1.3rem !important;
}

.align-items-default {
  align-items:end;
}

.auth-layouts-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-size: cover;
	/* background: url(/images/photo-wide-4.jpg?ea98fbfd3510c4f272ebf0b557fc7eba); */
}

.font-weight-bold.fs56{
  margin-bottom: -0.7rem !important;
}

.fs56{
	font-size: 2.3rem;
}

.loading_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    display: block;
    position: absolute;
  }

  .loader_logo {
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 50px);
    top: 38%;
  }

  .loader_logo img {
    height: 100%;
    width: 100%;
  }

  .loading {
    border: 3px solid rgba(102, 51, 153, 0.45);
    position: absolute;
    left: calc(50% - 40px);
    top: 50%;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-top-color: #8b5cf6;
    animation: loader 1s ease-in-out infinite;
    -webkit-animation: loader 1s ease-in-out infinite;
  }

  @keyframes loader {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes loader {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

.vselect-style {
  background: linear-gradient(#8855FF, #8855FF) !important;
  color: black;
  border: none;
}